{% extends 'intranet/layout_base_dashboard.html.twig' %}
{% set titulo = 'Panel de administración' %}

{% block contenido %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">{{ titulo }}</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary"><a href="#"><span
                                data-feather="plus-circle"></span> Importar</a></button>
                <button class="btn btn-sm btn-outline-secondary">Exportar</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>Calendario
            </button>
        </div>
    </div>
    <h3>¡Bravo! Has accedido a la intranet</h3>
    <p>Te has identificado como {{ usuario.username }}</p>
{% endblock %}
