{% extends 'layout_base_cover.html.twig' %}
{% set titulo= 'Portal Público' %}

{% block contenido %}
    <p>Bienvenido a la zona pública de este sitio web</p>
    <p>Accede desde el login a la intranet</p>
{% endblock %}
